name: Deploy Frontend

on:
    push:
        branches:
            - main

jobs:
    build-and-deploy:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout Code
              uses: actions/checkout@v3

            - name: Build Application
              run: echo "building...by ahmed hany"

            #  Transfer docker-compose.yml to the server
            - name: Copy Config via SCP
              uses: appleboy/scp-action@master
              with:
                  host: ${{ secrets.SSH_HOST }}
                  username: ${{ secrets.SSH_USER }}
                  key: ${{ secrets.SSH_PRIVATE_KEY }}
                  source: "compose.yaml"
                  target: "/opt/uptime-kuma/"

            #  Deploy using the docker-compose binary installed in bootstrap
            - name: Deploy via SSH
              uses: appleboy/ssh-action@master
              with:
                  host: ${{ secrets.SSH_HOST }}
                  username: ${{ secrets.SSH_USER }}
                  key: ${{ secrets.SSH_PRIVATE_KEY }}
                # Pull the latest image & redeploy cont
                  script: |
                      cd /opt/uptime-kuma
                      sudo docker-compose -f compose.yaml pull
                      sudo docker-compose -f compose.yaml up -d
